ion-content {
    --ion-background-color: rgba(0, 0, 0, 0.774);
    background-image: url("../../../assets/images/palabra2.jpeg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}
.divpadding {
    background: rgba(0, 0, 0, 0.397);
}
.divpadding h1 {
    text-align: center;
}
