<ion-content class="ion-padding">
  <p>{{jugador}}</p>

  <app-fila *ngFor="let item of iteraciones; let i = index"
    [palabra]="palabra" [enviado]="enviado"
    [edicionHabilitada]="i === filaActual" 
    
    (verificarFilaEvent)="actualizarEstadoBotonEnviar()"></app-fila>
  <ion-button expand="block" (click)="enviar()"
    [disabled]="!botonEnviarHabilitado">Enviar</ion-button>
    <div *ngIf="ganaste" class="mensaje-ganaste">
      ¡Ganaste! Todas las celdas de la fila actual están en acierto.
    </div>
</ion-content>
