<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <ion-input class="jugador" label="Jugador" labelPlacement="stacked"
    [(ngModel)]="jugador" placeholder="Digite su Nombre"></ion-input>

  <!-- <ion-button class="boton-play"  [disabled]="jugador.length < 2" (click)="irAPaginaDificultad()">
<ion-icon name="play-outline"class="iconcolor" > </ion-icon>
</ion-button> -->

  <div class="boton-centrado">
    <div class="boton-centrado">
      <button class="boton-play" [disabled]="jugador.length < 2"
        (click)="irAPaginaDificultad()">

        <ion-icon name="play-sharp" class="icono-rojo icono-grande"
          [class.icono-deshabilitado]="jugador.length < 2"></ion-icon>
      </button>
    </div>

  </div>
</ion-content>
